@font-face {
    font-family: 'Kurale';
    src: url('//fonts/Kurale/Kurale-Regular.woff2') format('woff2'),
        url('//fonts/Kurale/Kurale-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('//fonts/Open_Sans/OpenSans-Regular.woff2') format('woff2'),
        url('//fonts/Open_Sans/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('//fonts/Open_Sans/OpenSans-Bold.woff2') format('woff2'),
        url('//fonts/Open_Sans/OpenSans-Regular.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}